REACT_APP_SUPABASE_URL=https://jdxtlxpvimjvcfrmeeap.supabase.co
REACT_APP_SUPABASE_ANON_KEY=your_anon_key_here
REACT_APP_GOOGLE_CLIENT_ID=777031835250-hvhmbb63opkntprba4s373abdrmo3mm4.apps.googleusercontent.com
